.financ-imag {
    width: 340px;
    height: 360px;
    border-radius: 50px;
    padding: 20px;
}

.cinq-sec-right {
    width: 350px;
}

.finance-line {
    border-radius: 50px;
    background: #ECF0F3;
    padding: 9px;
    box-shadow: inset 2px 2px 5px 0px #00000042;
}