.cinqieme-article {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.financ-imag {
    width: 345px;
    height: 486px;
    border-radius: 50px;
    padding: 20px;
}

.back-logo-financer {
    position: relative;
    height: 40px;
}

.logo-financer {
    position: absolute;
    width: 200px;
    bottom: -36%;
}

.cinq-sec-right {
    width: 350px;
}

.cinq-sec-left {
    padding: 20px;
    width: 620px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.finance-line {
    width: 70%;
    border-radius: 50px;
    background: #ccd1d5;
    padding: 2px;
    /* box-shadow: inset 2px 2px 5px 0px #00000042; */
}