.sept-article {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.sept-down-text {
    align-items: center;
}

.sept-tire {
    width: 46px;
    background-color: #ECF0F3;
    padding: 9px;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px 0px #00000070, inset -3px -3px 4px 1px #fffffffa;
}

.sept-up-photo {
    border-radius: 12px;
    width: 275px;
    height: 178px;
}

.sept-sec-left {
    background: #B8D6F6;
    width: 485px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sept-sec-right {
    width: 703px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.sept-right-a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 15px;
}

.sept-ensavoirplus {
    border-radius: 55px;
    background-color: #ECF0F3;
    width: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: inset 7px 7px 11px 0px #fdfeff, inset -7px -7px 6px 5px #0000000a;
    justify-content: center;
}

@media screen and (max-width: 590px) {
    .sept-right-a {
        justify-content: center;
        text-align: center;
    }
}