.trois-imag {
    width: 300px;
    height: 400px;
    border-radius: 50px;
}

.troisieme-article {
    min-height: 101vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trois-vertical {
    border-left: 2px solid #0000002e;
    height: 450px;
    margin-top: auto;
    margin-bottom: auto;
    /* display: inline-block; */
}

.tois-sec-left {
    display: flex;
    gap: 13px;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.trois-sec-right {
    padding: 20px;
    width: 645px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .trois-quote-imag {
    width: 100px;
} */