.pre-upside {
    display: flex;
    height: 185px;
    background-color: #B8D6F6;
    border-radius: 50px;
}

.premier-article {
    min-height: 100vh;
}

.pre-icons {
    border-radius: 55px;
    background-color: #ECF0F3;
    width: fit-content;
    padding: 20px;
    box-shadow: inset -5px 6px 20px 0px #00000033;
}

.pre-icon-div {
    display: flex;
    width: 190px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.pre-info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 11vh;
    padding-bottom: 10vh;
    gap: 12px;
}

.quote-imag {
    width: 145px;
    margin-left: -35px;
}