.pre-upside {
    display: flex;
    justify-content: center;
    height: 188px;
    padding: 15px;
    background-color: #B8D6F6;
    border-radius: 0px 0px 50px 50px;
}

.premier-quote {
    margin-left: 4%;
}

.premier-up {
    display: grid;
    margin-left: 12%;
    grid-gap: 10px;
    gap: 10px;
    /* justify-items: center; */
}

.premier-underline {
    width: 80%;
    border-radius: 50px;
    background: #ccd1d5;
    padding: 2px;
    /* box-shadow: inset 2px 2px 5px 0px #00000042; */
}

.premier-article {
    min-height: 100vh;
}

.pre-icons {
    border-radius: 55px;
    background-color: #ECF0F3;
    width: fit-content;
    padding: 20px;
    box-shadow: inset -5px 6px 20px 0px #00000033;
}

.pre-icon-div {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.pre-info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 11vh;
    /* padding-bottom: 10vh; */
    gap: 12px;
}

.quote-imag {
    width: 100px;
}