.quet-up {
    background-color: #B8D6F6;
    padding: 50px;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
}

.quatre-article {
    background: url("./articleimages/expertises.png") center no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

.quatre-filtre-up {
    background-color: #f9fafbb0;
}

.quatre-filtre {
    background-color: #f9fafbb0;
    min-height: 80vh;
}