/* .six-article-forma {
    background: url("./articleimages/logoback.png") center no-repeat;
    background-size: 38% auto;
    background-position-y: 68%;
    min-height: 100vh;
} */

.six-sections-forma {
    min-height: 86vh;
    /* background: #f9fafbd6; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}

.sixforma-title {
    background-color: #B8D6F6;
    padding: 25px;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
}

.sixform-titre {
    display: flex;
    justify-content: center;
    border-radius: 55px;
    background-color: #ecf0f3ba;
    width: 180px;
    padding: 20px;
    /* margin-left: 20px; */
    align-items: center;
    box-shadow: inset 5px 4px 8px 0px #00000033;
}

.six-up {
    display: grid;
    margin-left: 25%;
    gap: 10px;
}

.six-underline {
    width: 72%;
    border-radius: 50px;
    background: #ccd1d5;
    padding: 2px;
    /* box-shadow: inset 2px 2px 5px 0px #00000042; */
}

.sixform-secs {
    display: flex;
    padding: 0px 23px 0px 23px;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 830px) {
    .six-up {
        margin-left: 10%;
    }
}