.condition {
    font-size: 15px;
    margin-top: 25px;
    color: #5D6D7E;
    text-align: left;
    padding-left: 10px;
}

.logo {
    width: 40%;
}

.cont41 {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding: 20px;
}