@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Pushster&display=swap');

label {
  font-size: .9rem;
}

input.form-control, input.form-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .8rem;
}

.modal-signup {
  text-align: center;
  margin-top: 19%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: 'Merienda', cursive;
  border: solid;
}