@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Pushster&display=swap');

label {
  font-size: .9rem;
}

input.form-control, select.form-control, input.form-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .8rem;
}