@media screen and (min-width: 1000px) {
  body {
    background-color: #ffffff;
  }

  .center0 {
    margin-top: 70px;
    background-color: #F2F4F4;
    padding: 40px;

  }

  .loginDiv {

    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 2px #aaaaaa;
    background-color: #ffffff;

  }

  .clientSpace {

    text-align: left;
    font-weight: bold;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;

    color: #7B241C;

  }

  .already {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #566573;
  }

  .above {
    text-align: left;
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 4px;
    margin-left: 10%;
  }

  .inputAccount {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .inputDescription {
    width: 80%;
    height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    resize: none;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .inputAccount:focus {
    outline: none !important;
    border: 1px solid #000000;
  }

  .inputAccount:hover {
    outline: none !important;
    border: 1px solid #000000;
  }

  .logIn1 {
    background-color: #922B21;
    border-radius: 30px;
    width: 36%;
    margin-left: 32%;
    margin-right: 32%;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: #ffffff;
    padding: 7px;
    margin-bottom: 20px;
    outline: none !important;
  }

  .logIn2 {
    background-color: #922B21;
    border-radius: 30px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: #ffffff;
    padding: 7px;
    margin-bottom: 20px;
    outline: none !important;
  }

  .loginDiv a {
    text-decoration: none;
  }

  .logIn:hover {
    border: 1px solid #242323;
    background-color: #A93226;
  }

  .passForg {
    margin-left: 10%;
    text-align: left;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 40px;

  }

  .divEnd {
    background-color: #ffffff;
  }

  .Name {
    font-size: 20px;
    font-weight: bold;
    color: #566573;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 4px;
  }

  .formationList {

    font-size: 23px;
    font-weight: 600;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    text-align: left;
    margin-left: 12%;
    margin-bottom: 60px;
  }

  .formationList1 a {
    text-decoration: none;
  }

  .formationList a {
    text-decoration: none;
    color: #000000;
  }

  .formationList a:hover {
    text-decoration: none;
    color: #A93226;
  }


  .formDiv {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid #6B6B6B;
    border-radius: 12px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 10px;
    outline: none !important;
    padding-left: 0px;
    padding-right: 0px;

  }

  .formDiv1 {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid #6B6B6B;
    border-radius: 12px;
    width: 46%;
    margin-left: 27%;
    margin-right: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 10px;
    outline: none !important;
    padding-left: 20px;
    padding-right: 0px;

  }

  .formName {
    font-size: 21px;
    font-weight: 700;
    color: #566573;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
  }

  .formDiv a {
    text-decoration: none;
  }

  .formDiv:hover {
    background-color: #ECF0F1;
    border: 1px solid #000000;
  }

  .formDiv0 a {
    text-decoration: none;
  }

  .Roww {
    padding-left: 0px;
    padding-right: 0px;
  }

  .list {
    font-size: 18px;
    font-weight: 500;
    color: #7B241C;
  }

  .list:hover {
    color: #C0392B;
  }

  .formationList1 {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 60px;
  }

  .add {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
  }

  .addDiv {
    background-color: #A93226;
    border: 1px solid #6B6B6B;
    border-radius: 8px;
    width: 50%;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 6px;
    outline: none !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  .add1 {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
  }

  .addDiv1 {
    background-color: #A93226;
    border: 1px solid #6B6B6B;
    border-radius: 8px;
    width: 130%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 6px;
    outline: none !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  .colll1 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }

  .addDiv:hover {
    background-color: #C0392B;
    border: 1px solid #242323;
  }

  .addDiv a {
    text-decoration: none;
  }

  .addDiv1:hover {
    background-color: #C0392B;
    border: 1px solid #242323;
  }

  .addDiv1 a {
    text-decoration: none;
  }

  .retour {
    color: #000000;
  }

  .retour:hover {
    color: #7B241C;
  }

  .addButon {
    background-color: #922B21;
    border-radius: 30px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: #ffffff;
    padding: 7px;
    margin-bottom: 20px;
    outline: none !important;
  }

  .adDiv a {
    text-decoration: none;
  }

  .addButon:hover {
    border: 1px solid #242323;
    background-color: #A93226;
  }

  .detail {
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    text-align: left;
    margin-left: 10%;
    color: #566573;
  }

  .formationTitle {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    color: #A93226;
    margin-top: 10px;
  }

  .dmContainer {
    width: 40%;
    margin-top: 40px;
  }
}


@media screen and (max-width: 1000px) {
  body {
    background-color: #ffffff;
  }

  .center0 {
    margin-top: 60px;
    background-color: #F2F4F4;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .loginDiv {
    margin-top: 20px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 2px #aaaaaa;
    background-color: #ffffff;
  }

  .clientSpace {

    text-align: left;
    font-weight: bold;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    color: #7B241C;
  }

  .already {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #566573;
  }

  .above {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 10%;
  }

  .inputAccount {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .inputDescription {
    width: 80%;
    height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    resize: none;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .inputAccount:focus {
    outline: none !important;
    border: 1px solid #000000;
  }

  .inputAccount:hover {
    outline: none !important;
    border: 1px solid #000000;
  }

  .logIn1 {
    background-color: #922B21;
    border-radius: 30px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: #ffffff;
    padding: 7px;
    margin-bottom: 20px;
    outline: none !important;


  }

  .logIn2 {
    background-color: #922B21;
    border-radius: 30px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: #ffffff;
    padding: 7px;
    margin-bottom: 20px;
    outline: none !important;
  }

  .loginDiv a {
    text-decoration: none;
  }

  .logIn:hover {
    border: 1px solid #242323;
    background-color: #A93226;
  }

  .passForg {
    margin-left: 10%;
    text-align: left;
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 40px;
  }

  .divEnd {
    background-color: #ffffff;
  }

  .Name {
    font-size: 20px;
    font-weight: bold;
    color: #566573;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 4px;

  }

  .formationList {

    font-size: 20px;
    font-weight: 600;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    text-align: left;
    margin-left: 12%;
    margin-bottom: 60px;
  }

  .formationList1 a {
    text-decoration: none;
  }

  .formationList a {
    text-decoration: none;
    color: #000000;
  }

  .formationList a:hover {
    text-decoration: none;
    color: #A93226;
  }


  .formDiv {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid #6B6B6B;
    border-radius: 12px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 8px;
    outline: none !important;
    padding-left: 0px;
    padding-right: 0px;

  }

  .formDiv1 {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid #6B6B6B;
    border-radius: 8px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 9px;
    outline: none !important;
    padding-left: 15px;
    padding-right: 5px;

  }

  .formName {
    font-size: 18px;
    font-weight: 700;
    color: #566573;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
  }

  .formDiv a {
    text-decoration: none;
  }

  .formDiv:hover {
    background-color: #ECF0F1;
    border: 1px solid #000000;
  }

  .formDiv0 a {
    text-decoration: none;


  }

  .Roww {
    padding-left: 0px;
    padding-right: 0px;
  }

  .list {
    font-size: 13px;
    font-weight: 500;
    color: #7B241C;
    text-align: left;
  }

  .colList {
    text-align: left;
  }

  .list:hover {
    color: #C0392B;
  }

  .formationList1 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 40px;

  }

  .add1 {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;

  }

  .addDiv1 {

    background-color: #A93226;
    border: 1px solid #6B6B6B;
    border-radius: 8px;
    width: 130%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 6px;
    outline: none !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  .addDiv1:hover {
    background-color: #C0392B;
    border: 1px solid #242323;

  }

  .addDiv1 a {
    text-decoration: none;
  }

  .colll1 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }

  .add {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;

  }

  .addDiv {
    background-color: #A93226;
    border: 1px solid #6B6B6B;
    border-radius: 8px;
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 6px;
    outline: none !important;
  }

  .colll1 {

    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .addDiv:hover {
    background-color: #C0392B;
    border: 1px solid #242323;
  }

  .addDiv a {
    text-decoration: none;
  }

  .retour {
    color: #000000;
  }

  .retour:hover {
    color: #7B241C;
  }

  .addButon {
    background-color: #922B21;
    border-radius: 30px;
    width: 66%;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: #ffffff;
    padding: 7px;
    margin-bottom: 20px;
    outline: none !important;
  }

  .adDiv a {
    text-decoration: none;
  }

  .addButon:hover {
    border: 1px solid #242323;
    background-color: #A93226;
  }

  .detail {
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    text-align: left;

    color: #566573;
  }

  .formationTitle {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    color: #A93226;
    margin-top: 10px;
  }

  .dmContainer {
    width: 40%;
    margin-top: 40px;
  }
}