.avis-clients {
    min-height: 100vh;
}

.avis-back-handshake {
    background: url("./imag/shakinghand.jpg") center no-repeat;
    background-size: cover;
    min-height: 90vh;
}

.avis-back-filtre {
    background: #f9fafbbd;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.avis-client-texts {
    text-shadow: -3px 9px 5px #0000005c;
}

.avis-client-sec-down {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 20px;
    gap: 20px;
    min-height: 90vh;
}

.avis-client-secs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: #B8D6F6;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 2px #0000004d, inset 5px 4px 16px 0px #0000003b, inset -2px -1px 20px 0px #f9fafbc4;
}

circle {
    transition: all 0.9s ease-in-out;
}