.back-page-profs {
    background: url("../imag/green.jpg") no-repeat fixed center top transparent;
    min-height: 85vh;
}

.profa-page {
    position: absolute;
    /* background-image: url("../assets/images/menu.jpg"); */
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.inputbtn-code {
    margin-left: 8px !important;
    border-radius: 10px;
    background-color: #F8F9FA;
    font-weight: lighter;
}

.inputbtn-code:hover {
    cursor: pointer;
    background-color: #ced4da;
    font-weight: bold;
}


.addfiles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3% auto;
    /* min-height: 50vh; */
    /* border: 2px solid #f1ffe0; */
    border-radius: 20px;
    padding: 15px;
    background: linear-gradient(45deg, rgb(38 159 159 / 80%), rgba(209 204 172 / 80%));
    /* box-shadow: 0 5px 20px 2px whitesmoke; */
    transition: all 200ms ease-out;
    animation: fade-in 1s ease-in-out;
}

.codebox {
    /* display: flex; */
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* margin: 3% auto; */
    /* width: 35vw; */
    /* min-height: 50vh; */
    /* border: 2px solid #f1ffe0; */
    border-radius: 20px;
    padding: 30px;
    background: linear-gradient(45deg, rgb(38 159 159 / 80%), rgba(224, 218, 182, 0.8));
    /* box-shadow: 0 5px 20px 2px whitesmoke; */
    transition: all 200ms ease-out;
    animation: fade-in 1s ease-in-out;
}

.page-salon-a {
    background: url("../imag/wood.jpg") no-repeat fixed;
    min-height: 85vh;
}

.page-salon-b {
    background: url("../imag/wood.jpg") no-repeat fixed;
    min-height: 85vh;
}