@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
}

.backgroung-hompage {
    background: url("../assets/home.png") center no-repeat;
    /* background-size: 100vw 90vh; */
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: left;
}

.home-cen-text {
    font-family: 'Libre Baskerville', serif;
    max-width: 902px;
}

.home-single-quote {
    width: 25px;
}

.home-single-quote-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 6px;
}

/* .homesite-logo {
    width: 180px;
    height: 150px;
    padding: 18px;
} */

.filter-home {
    display: grid;
    align-items: center;
    background: #f9fafbbd;
    min-height: 75vh;
    text-align: center;
}

.carousel-indicators {
    display: none;
}

.etre-rappele {
    gap: 20px;
    display: flex;
    border-radius: 55px;
    background-color: #ECF0F3;
    width: fit-content;
    padding: 20px;
    margin: auto;
    align-items: center;
    margin-bottom: 3%;
    /* margin-top: 5%; */
    box-shadow: inset -5px 6px 20px 0px #00000033;
}


.circle {
    content: "";
    background-color: #EBEDF1;
    padding: 35px;
    border-radius: 50%;
    box-shadow: -9px 8px 15px 3px #00000045, 1px -1px 17px 3px #fff;
}

a.circle:hover {
    background-color: rgb(214, 231, 231);
    transform: scale(1.1);
    transition: all 1s ease-out;
}

.check-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.home-back-circle {
    border-radius: 50px;
    background: #ECF0F3;
    padding: 12px;
    box-shadow: inset 2px 2px 5px 0px #00000042;
}

.home-circle {
    border-radius: 50px;
    padding: 18px;
    background: #08316B;
}

button.home-circle:hover {
    transform: scale(1.2);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.home-parag {
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
}

div.home-parag p {
    margin-top: auto;
    margin-bottom: auto;
    /* cursor: pointer; */
}

.home-sec-two {
    min-height: 60vh;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* video */
/* .backplan {
    width: 90vw;
    height: 90vh;
} */

/* .home-slids {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 93vw;
    height: 100vh;
} */

.sec-company {
    margin: auto;
    background: linear-gradient(45deg, #B8D6F6, rgba(129, 180, 238, 0.8));
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40%; */
}

.company-markes {
    width: 39vw;
    height: 35vh;
    /* border-radius: 25px; */
}

.home-text {
    margin-bottom: auto;
    margin-top: auto;
}

@media screen and (max-width: 588px) {
    .check-info {
        display: block;
        justify-content: flex-start;
    }

    .company-markes {
        width: 66vw;
        height: 30vh;
        /* border-radius: 25px; */
    }
}