/* .nouscontactpage {
	background: url("./imag/boxlettre.jpg")fixed;
	max-width: 100%;
	min-height: 85vh;
} */
.contactform {
	align-items: center;
	border-radius: 20px;
	padding: 15px;
	background: linear-gradient(45deg, rgb(38 92 159 / 80%), rgba(209 204 172 / 80%));
	box-shadow: 0 5px 20px 2px whitesmoke;
	transition: all 200ms ease-out;
	-webkit-animation: fade-in 1s ease-in-out;
	animation: fade-in 1s ease-in-out;
}

/* .nouscontactimag {
	max-width: 100%;
	min-height: 85vh;
	position: relative;
} */

.nouscontactform {
	background: url("./imag/prewall.jpg");
	/* min-height: 85vh; */
	/* position: absolute; */
	/* top: 30vh; */
	/* left: 7vw; */
}

/* @media screen and (max-width: 1220px) {
	.nouscontactform {
		position: absolute;
		top: 20vh;
		left: 7vw;
	}
}

@media screen and (max-width: 960px) {
	.nouscontactform {
		position: absolute;
		top: 15vh;
		left: 7vw;
	}
} */

/* @media screen and (max-width: 820px) {
	.nouscontactform {
		position: absolute;
		top: 10vh;
		left: 7vw;
	}
} */