div.document-container {
    height: 165px;
    width: 174px;
    padding: 0%;
}

.pg-viewer-wrapper .document-container {
    padding: 0%;
    width: auto;
}

.pg-viewer-wrapper {
    overflow: hidden;
    width: inherit;
    border-radius: 25px;
    border: outset;
}

.embed-files {
    height: 30vh;
    width: -webkit-fill-available;
    border-radius: 25px;
    border: outset;
    cursor: pointer;
    transition: all 0.6s ease;
}

.embed-files:hover {
    box-shadow: 0 0 10px 10px black;
}

.card {
    border-radius: 25px;
}

span.fscreen-span {
    position: absolute;
    right: 1vw;
    top: 31vh;
}