.condition {
    font-size: 15px;
    margin-top: 25px;
    color: #5D6D7E;
    text-align: left;
    padding-left: 10px;
}

.footer-icon {
    height: 80px;
    width: 40%;
    cursor: pointer;
}

.footer-icon:hover {
    transform: scale(1.2);
    transition: all 0.5s ease;
}