@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


.nav-item {
  color: black;
  font-family: 'Oswald', sans-serif;
}

.nav-item:hover {
  color: #B8D6F6;
  font-size: 17px;
  /* padding: 10px; */
  background: #ffffffcb;
  border-radius: 7px;
  /* transform: scale(1.5); */
  /* transition: all 0.1s ease-out; */
}

a.nav-item:active {
  color: rgb(238, 245, 238);
}

.customNav {
  /* padding: 20px; */
  background-color: #ffffff08;
}

a {
  text-decoration: none;
}

.itemCover {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  padding: 4px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  gap: 3px;
  padding: 5px;
  z-index: 1;
}

.dropdown a:hover {
  background-color: #B8D6F6;
  color: #fff;
}

.itemCover:hover .dropdown {
  display: grid;
}

.itemCover:hover .menu-button {
  background-color: transparent;
}

.dropdown a {
  color: #000;
  border-radius: 5px;
}

.dropdown a:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}