@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.nav-items-texts {
  margin-left: 10%;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  color: black;
  font-family: 'Oswald', sans-serif;
}

.nav-item:hover {
  cursor: pointer;
  color: #B8D6F6;
  background: #ffffffcb;
}

a.nav-item:active {
  color: rgb(238, 245, 238);
}

a {
  text-decoration: none;
}

/* .compte-nav {
  background: #B8D6F6;
} */

.itemCover {
  list-style-type: none;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  padding: 4px;
}

.comptes-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  gap: 3px;
  padding: 5px;
  z-index: 1;
  right: 1%;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  gap: 3px;
  padding: 5px;
  z-index: 1;
}


.dropdown a:hover, .comptes-dropdown a:hover {
  background-color: #B8D6F6;
  color: #fff;
}

.itemCover:hover .comptes-dropdown {
  display: grid;
}

.itemCover:hover .dropdown {
  display: grid;
}

.itemCover:hover .menu-button {
  background-color: transparent;
}

.dropdown a, .comptes-dropdown a {
  color: #000;
  border-radius: 5px;
}

.comptes-dropdown a:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}

.dropdown a:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}