.modal-signup {
    text-align: center;
    width: fit-content;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: 'Merienda', cursive;
    box-shadow: 0px 0px 15px 1px #000000b3, inset 0px 0px 6px 0px #212529;
    /* border: solid; */
}

div.fade.modal.show {
    padding-left: 0 !important;
}

input, textarea {
    caret-color: rgb(209, 58, 31);
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

canvas {
    margin: auto;
    width: 100% !important;
    height: 100% !important;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: fit-content;
    height: auto;
    /* max-width: 75%; */
}

/* Caption of Modal Image */
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    /* padding: 10px 0; */
    height: 150px;
}

.modal-fullscreen .modal-content {
    min-width: 50%;
    height: auto;
    top: 15%;
}

/* Add Animation */
.modal-content, .caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.out {
    animation-name: zoom-out;
    animation-duration: 0.6s;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }

    canvas {
        margin: auto;
        width: 100% !important;
        height: 100% !important;
    }
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1)
    }

    to {
        -webkit-transform: scale(2)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.4)
    }

    to {
        transform: scale(1)
    }
}

@-webkit-keyframes zoom-out {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(0)
    }
}

@keyframes zoom-out {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(0)
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        /* transform: translateY(0); */
    }
}